*{
    margin: 0px;
    padding: 0px;

}
/*@font-face {*/
    /*font-family: 'icomoon';*/
    /*src:  url('../fonts/icomoon.eot?eithnd');*/
    /*src:  url('../fonts/icomoon.eot?eithnd#iefix') format('embedded-opentype'),*/
    /*url('../fonts/icomoon.ttf?eithnd') format('truetype'),*/
    /*url('../fonts/icomoon.woff?eithnd') format('woff'),*/
    /*url('../fonts/icomoon.svg?eithnd#icomoon') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
span{
    font-family: "icomoon";
}
.w{
    width: 980px;
    margin: 0 auto;
    position: relative;
    /*border: 1px solid green;*/
}
a{
    color:#222;
    text-decoration: none;
}
a:hover{
    color: #00a1d6;
}
ul{
    list-style-type: none;
}
.fl{
  float: left;
}
.fr{
    float: right;
}
.clearfix::before,.clearfix::after{
    content: "";
    display: table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom:1;
}



