
body{
    background-color: #F4F5F7;
    color:#646c7a;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
em,i{
    font-style:normal;
}
li{
    list-style:none;
}
img{
    border:0;
    vertical-align:middle;
}
button{
    cursor:pointer;
}
a{
    text-decoration:none;
}
button,input{
    font-family:Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}

.YzbTop1{
    position: relative;
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 0 0 5px 1px rgba(158,179,193,.5);
}
.YzbTop1Inner1{
    position: absolute;
    width:80px;
    height: 50px;
    text-align: center;
    left: 130px;
    top:10px;
    z-index: 999;
}

.YzbTop1Inner1 span{
    color: #01A1D6;
    font-size: 22px;
}
.YzbTop1Inner2{
 position: absolute;
    width:340px ;
    height:50px ;
    left: 220px;
    z-index: 999;
}
.YzbTop1Inner2Inner{
    float: left;
    cursor: pointer;
    display: inline-block;
    height:50px ;
    width:56px;
    font-size: 13px;
    line-height: 50px;
    z-index: 1;
    padding: 0 12px;
}
.YzbTop1Inner2Search{
    position: absolute;
    top:6px;
    left: 392px;
}
.Yzbinput{
    cursor: auto;
    font-size: 12px;
    color: #6d757a;
    line-height: 14px;
    margin-left: 350px;
    width: 250px;
    height: 40px;
    border: none;
    padding-left: 20px;
    background: #f1f3f5;
    border-radius: 40px;
    outline:none;
}
.YzbTop1Inner2Search a{
    position: absolute;
    top:11px;
    left:572px;
}
.YzbTop1Inner2Inner2{
    position: absolute;
    width:300px ;
    height:50px ;
    left: 1030px;
    z-index: 999;
}
.YzbTop2{
    position: relative;
    width: 100%;
    height: 461px;
    background: url("../image2/Yzbbeijing.jpg") no-repeat;
    background-size: 100%;
    top:3px;
    box-shadow: 0 0 5px 1px rgba(158,179,193,.5);
}

.Dplayer_box{
    overflow:hidden;
    width:680px;
    height:416px;
    margin:100px auto;
    display:block;
    background-color:#f6f9fa;
    position: absolute;
    left:356px;
    top:-78px;
    border-radius:12px;
    box-shadow: 5px 5px 7px hotpink;
}
#player1{
    background-size:100% 100%;
    margin-top:18px}
.player_av{
    width:680px;height:100%;
    float:left;
    background:#000}

.YzbMid3{
    border-radius:12px;
    cursor: pointer;
    position: relative;
    width: 980px;
    height:81px;
    background: url("../image2/Yyingxionglianmeng.jpg") no-repeat;
    background-size: 100%;
    top:15px;
    box-shadow: 0 0 5px 1px rgba(158,179,193,.5);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.YzbMid1{
    position: relative;
    width:980px;
    height: 199px;
    top:5px;
   margin: 0 auto;
}

.YzbMid1Inner{
    width: 230px;
    height: 199px;
    float: left;
    margin-left: 11px;
}
.YzbMid1Innertitle{
 width: 230px;
    height: 41px;
    padding: 8px;
}
.YzbMid1Innertitle a{
    color: black;
    font-weight:700;
}
.YzbMid1Innertitle a:hover{
    color: #23ADE5;
}
.fa-diamond{
    color: red;
}
.fa-futbol-o{
    color:#58D598 ;
}
.fa-heart-o{
    color:#FD6A8A ;
}
.fa-paw{
    color: #FFC046;
}

.YzbMid1Innerbody{
 width: 230px;
    height: 158px;
}

.Ysuolvetu{
   float: left;
    width: 110px;
    height: 69px;
    border-radius:12px;
    margin: 2px;
    cursor: pointer;
}

.YzbMid1InnerbodyInner1{
    background-image: url("../image2/Ysuolvetu1.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner2{
    background-image: url("../image2/Ysuolvetu2.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner3{
    background-image: url("../image2/Ysuolvetu3.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner4{
    background-image: url("../image2/Ysuolvetu4.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner5{
    background-image: url("../image2/Ysuolvetu5.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner6{
    background-image: url("../image2/Ysuolvetu6.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner7{
    background-image: url("../image2/Ysuolvetu7.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner8{
     background-image: url("../image2/Ysuolvetu8.jpg");
     background-size:100% 100%
 }
.YzbMid1InnerbodyInner9{
    background-image: url("../image2/Ysuolvetu9.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner10{
    background-image: url("../image2/Ysuolvetu10.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner11{
    background-image: url("../image2/Ysuolvetu11.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner12{
    background-image: url("../image2/Ysuolvetu12.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner13{
    background-image: url("../image2/Ysuolvetu13.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner14{
    background-image: url("../image2/Ysuolvetu14.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner15{
    background-image: url("../image2/Ysuolvetu15.jpg");
    background-size:100% 100%
}
.YzbMid1InnerbodyInner16{
    background-image: url("../image2/Ysuolvetu16.jpg");
    background-size:100% 100%
}

.Ymask{
    background: rgba(0,0,0,.35);
    margin-top:0;
    margin-left: 0;
    display: none;
}
.Ymask span:first-child{
    font-size: 20px;
    color: white;
    display: inline-block;
    position: relative;
    left: 45px;
    top:22px;
}
.YmaskMessage{
    color:antiquewhite;
    font-size:6px;
    display:inline-block;
   position: relative;
    top:47px;
    left:-13px;
}
.YzbMid2{
    position: relative;
    width:980px;
    height: 280px;
    top:5px;
    margin: 0 auto;
}
.YzbMid2Inner1{
    position: absolute;
    width: 392px;
    height: 280px;
}
.YzbMid2Inner2{
    position: absolute;
    left:414px;
    width: 271px;
    height: 280px;
}
.YzbMid2Inner3{
    left: 705px;
    position: absolute;
    width: 274px;
    height: 280px;
}
.YzbMid2InnerLeft1{
    position: absolute;
    width: 391px;
    height: 205px;;
    box-shadow:5px 5px 7px rgba(158,179,193,.5);
}

:root{
    --mywidth:391px;
    --myheight: 204px;
}
ul{
    list-style: none;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-content{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.a-content:after{
    content: '';
    position:absolute;
    top:-25px;
    left: 25%;
    width: 270px;
    height: 40px;
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    display: none;
}
.carousel-content{
    width: var(--mywidth);
    height: var(--myheight);
    position: relative;
    overflow: hidden;
    border-radius:10px;
}
.carousel{
    height: var(--myheight);
    position: absolute;
}
.carousel li{
    float: left;
}
.carousel li,.carousel li img{
    width: var(--mywidth);
    height: var(--myheight);
}
.img-index{
    position: absolute;
    bottom: 8px;
    width: 174px;
    display: flex;
    justify-content: center;
}
.img-index li{
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 10px;
    background-color: papayawhip;
    font-size: 12px;
    cursor: pointer;
    margin: 0 3px;
    color:brown;
}
.img-index li.js_index,.img-index li:hover{
    background-color: rgba(0,0,0,0.7);
}
.carousel-prev,.carousel-next{
    position: absolute;
    display: inline-block;
    top: 45%;
    cursor: pointer;
    display: none;
}
.carousel-prev{
    left: 0;
}
.carousel-next{
    right: 0;
}
.YzbMid2Inner2LeftInner{
    position: relative;
    width: 191px;
    height: 70px;
    float: left;
    margin-left:3px;
    border-radius: 12px;
    box-shadow:5px 5px 7px rgba(158,179,193,.5);
    top:215px;
    cursor: pointer;
}
#Yleft1{
    background-image: url("../image2/Yleft1.jpg");
    background-size:98% 100%
}
#Yleft2{
    background-image: url("../image2/Yleft2.jpg");
    background-size:98% 100%
}

.YzbMid2Inner2InnerP{
    color: black;
    font-weight:bolder;
    font-size: 18px;
    margin-left: 8px;
}
#Ymid1{
    width: 80px;
    height: 49px;
    background-image: url("../image2/Ymid1.jpg");
    background-size:98% 100%
}
#Ymid2{
    width: 80px;
    height: 49px;
    background-image: url("../image2/Ymid2.jpg");
    background-size:98% 100%
}
#Ymid3{
    width: 80px;
    height: 49px;
    background-image: url("../image2/Ymid3.jpg");
    background-size:98% 100%;
}
.YzbMid2Inner2div{
    display: inline-block;
    width: 80px;
    height: 70px;
    position: relative;
    margin-left: 7px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow:5px 5px 7px rgba(158,179,193,.5);
    margin-top: 8px;
    margin-bottom: 25px;
}
.YzbMid2Inner2div a{
    color: black;
    font-size: 15px;
}
.YzbMid2Inner2div a:hover,.YzbMid2Inner2 a:hover{
    color: #23ADE5;
}

#Ymore{
    position: absolute;
    left:185px;
    top:130px;
}
.Yadd{
    position: absolute;
    left:250px;
    top:129px;
}
.YzbMid2Inner2 a{
    color: #6d757a;
    font-size: 15px;
}

.YzbMid2span{
    color: #99a2aa;
    font-size: 14px;
}
.YzbMid2a1{
    top: 173px;
    position:absolute;
}
.YzbMid2a2{
    top: 213px;
    position:absolute;
}
.YzbMid2a3{
    top: 253px;
    position:absolute;
}

#Yrenqi{
    color: black;
    font-weight:bolder;
    font-size: 18px;
    margin-left: 8px;
}

#YzbMid2Inner3a{
    display: inline-block;
    position: absolute;
    left:180px;
    top:4px;
    color: #6d757a;
    font-size: 15px;
}
#YzbMid2Inner3a:hover{
    color: #23ADE5;
}
#Yadd2{
    position: absolute;
    left:66px;
    top:0;
}
.YzbMid2Inner3a2{
    display:inline-block;
    height: 49px;
    width: 274px;
    margin-top: 9px;
}

.YzbMid2Inner3div1,.YzbMid2Inner3div2,.YzbMid2Inner3div3,.YzbMid2Inner3div4{
    width: 80px;
    height: 49px;
    margin-left: 10px;
    border-radius: 9px;
    box-shadow:2px 2px 7px rgba(158,179,193,.5);
}
.YzbMid2Inner3div1{
    background-image: url("../image2/Y排行1.jpg");
    background-size:100% 100%
}
.YzbMid2Inner3div2{
    background-image: url("../image2/Y排行2.jpg");
    background-size:100% 100%
}
.YzbMid2Inner3div3{
    background-image: url("../image2/Y排行3.jpg");
    background-size:100% 100%
}
.YzbMid2Inner3div4{
    background-image: url("../image2/Y排行4.jpg");
    background-size:100% 100%
}
.YpaihangMessage{
    width:157px;
    height:39px;
    position: absolute;
    left: 106px;
}
.YpaihangMessage1{
  top:38px;
}
.YpaihangMessage2{
    top:100px;
}
.YpaihangMessage3{
    top:162px;
}
.YpaihangMessage4{
    top:224px;
}
.YpaihangMessageWord1{
    color: rgb(51, 51, 51);
    font-size: 12px;
    line-height: 16px;
}
.YpaihangMessageWord2{
 color:rgb(153, 153, 153);
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

.Ypeoplespan{
    position: absolute;
    left:93px;
    top:22px;
    color:palevioletred;
}
.Ypeoplespan2{
    position: absolute;
    left:112px;
    top:22px;
    font-size: 4px;
    color:#888888;
}

.Yicon1,.Yicon2,.Yicon3,.Yicon4{
    position: absolute;
    width:16px;
    height:16px;
    border-radius: 13px;
    color:white;
    background-color: #99a2aa;
    font-size: 4px;
    margin-top: 0;
    margin-left: 0;
}
.Yicon1{
    background-color:#f25d8e;
}


.Ybottom{
    position: relative;
    width:100%;
    height:160px;
    top:30px;
    font-family: Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif!important;
}

.Ybottomleft{
    position: absolute;
    width: 400px;
    height: 112px;
    left:120px;
}
.Ybottomright{
    position: absolute;
    width: 280px;
    height: 80px;
    left: 958px;

}
.Ybottommid{
    position: absolute;
    width: 440px;
    height: 112px;
    left: 519px;
}
.Ybottomleft div,.Ybottommid div{
    position: relative;
    left: 27px;
    color: #99a2aa;
    line-height: 1;
    font-size: 14px;
    margin-bottom:  8px;
    margin-top: 8px;
}
.Ybottomleft table tr td a,.Ybottommid table tr td a{
    font-size:14px;
    line-height:16px;
    color:black;
    margin: 25px;
}
.Ybottomleft table tr td a:hover,.Ybottommid table tr td a:hover{
    color: cornflowerblue;
}

.Yfoot{
    position: relative;
    width:1160px;
    height:78px;
    left:114px;
    font-family: Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif!important;
    overflow: hidden;
}
.YbottomTips{
    display: inline-block;
    position:absolute;
    left:105px;
    font-size: 12px;
    color: rgb(153, 162, 170);
    margin-top: -2px;
}
.YbottomTips p{
    margin-top: 7px;
}
.YbottomTips a img{
    width:15px;
    height:15px;
}
.YbottomTips a{
    font-size: 12px;
    color: rgb(153, 162, 170);
}
.YbottomTips a:hover{
    color: black;
}
.YbottomTipsInner{
    position: absolute;
    top:53px;
    left: 133px;
}
.Ybottomright1,.Ybottomright2,.Ybottomright3{
    display: inline-block;
    float: left;
    width: 82px;
    height: 80px;
    margin-left: 10px;
    color:grey;
    font-size: 14px;
}
.Ybottomright1Inner,.Ybottomright2Inner,.Ybottomright3Inner{
    height: 60px;
    width: 60px;
    margin-left: 8px;
}
.Ybottomright1Inner{
    background: url(../image2/icons.png) no-repeat  -1024px  -194px;
}
.Ybottomright2Inner{
    background: url(../image2/icons.png) no-repeat  -1024px -322px;
}
.Ybottomright3Inner{
    background: url(../image2/icons.png) no-repeat  -1024px -66px;
}

#Yerweima1{
    width: 129px;
    height: 129px;
    position: absolute;
    left:-18px ;
    top:-130px ;
    background:url("../image2/erweima1.png") no-repeat ;
}
#Yerweima2{
    width: 130px;
    height: 131px;
    position: absolute;
    left:82px ;
    top:-132px ;
    background:url("../image2/erweima2.png") no-repeat ;
}
#Yerweima3{
    width: 257px;
    height: 149px;
    position: absolute;
    left:106px ;
    top:-150px ;
    background:url("../image2/erweima3.png") no-repeat ;
    z-index: 999;
}

.Yshow{
    display:block;
}
.Yhiden{
    display:none;
}


.Yniubi{
    position: relative;
    width:100%;
    height:1000px;
}
.Ytoolbar{
    cursor: pointer;
    left: 1250px;
    top:377px;
    position: fixed;
    width: 78px;
    height: 78px;
    background: url("../image2/Ymao.png") no-repeat;
    border-top-right-radius:12px;
    border-top-left-radius:12px;
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
    box-shadow: 1px 1px 7px ;
    z-index: 99;
}

.Ytanchu{
    cursor: pointer;
    height:200px ;
    width: 100px;
    position: absolute;
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    box-shadow:2px 2px 7px rgba(158,179,193,.5);
    top:50px;
    z-index: 999;
    line-height: 40px;
    overflow: hidden;
}
.Ytanchu li{
    height: 40px;
}
#Yyule{
    left:338px;
}

#Yyouxi{
    left:390px;
}
#Yshouyou{
    left:448px;
}

#Yhuihua{
    left:500px;
}

.Yliadd{
    background-color:#F1F3F5;
    color:#23ADE5;
}